# 1. 익명함수(lamda function)

In [ ]:
 f = lambda x: x +10 # 람다함수는 간단할때 쓰임

In [ ]:

def func(x):
     return x + 10

In [ ]:
f(5),func(5)

In [ ]:
a = [1,3,5,7,9]
list(map(func,a)) ##  map 자주 쓰임

In [ ]:
list(map(f,a))

In [ ]:
list(map(lambda x: x+ 10, a))

- 1에서 10까지 홀수 제곱의 리스트 생성

In [ ]:
sq_odd_list = []

for i in range(1,11,1):
    if i % 2 == 1:sq_odd_list.append(i*i)

In [ ]:
# 람다 표현식
odd_list = list(range(1,11,2))
sq_odd_list1 = list(map(lambda x: x*x,odd_list)) # x는 f(x) 할때x

In [ ]:
# 리스트 표현식
sq_odd_list2 = [i*i for i in range(1,11,2)]

In [ ]:
# filter(함수, list) 는 True  or False를 준다
# map 은 값을 준다.

In [ ]:
filtered_list = list(filter(lambda x: x >=3 and x<=6, range(1,11))) # 특정한 부분을 줄때 편하다. 필터 함수
filtered_list

In [ ]:
[i for i in range(1,11) if 3 <= i <= 6]

1에서 10까지 홀수면 string으로 변환, 짝수면 그대로해서 출력

In [ ]:
[str(i) if i % 2 == 1 else i for i in range(1,10)] 



# 가장 원시적인 방법
a = []
for i in range(1,11):
    if i % 2 == 1: a.append(str(i))
    else:a.append(i)


# 람다함수 이용
list(map(lambda x:str(x) if x %2 ==1 else x, range(1,11))) # 삼항연산자를 한줄에 이용 할 수 있음



# 함수써서
def det(X):
    if i % 2 == 1:
        return str(X)
    return X
list(map(det, range(1,11)))

# map,란다
list(map(lambda x: str(x) if x% 2 == 1 else x, range(1,11)))


# 리스트 표현식
[str(i) if i % 2 ==1 else i for i in range(1,11)]

In [ ]:
# lambda  함수가 매우중요함 map, fliter , apply 등등에 사용되기 때문에 매우매우중요 
[str(i) if i % 2 == 1 else i for i in range(1,10)] 


[str(i) if i % 2 == 0 else i for i in range(1,11)]

In [1]:
int('123,000'.replace(',',''))

123000

In [2]:
price_str_list = ['142,000', '2,365,000','16,300']
price_list = list(map(lambda x:int(x.replace(',','')),price_str_list)) # 데이터 적용할때 
price_list

[142000, 2365000, 16300]

In [ ]:
[int(item.replace(',','')) for item in price_str_list] # 한꺼번에 고치기 더블클릭 하고 컨드롤 d 누르고 수정하면 같이 고쳐짐

# 2. 예외처리

In [ ]:
def ten_div(x):
    return 10 / x

In [ ]:
ten_div(2) # 0을 0으로 나누면 부정한다

In [ ]:
try:
    ten_div(0)
except:
    print('Error 발생')

In [ ]:
try:
    a = [1,2,3]
    print(a[4])
except Exception as e:
    print(e)
    # a = [1,2,3]
    # print(a[2])

In [ ]:
x = int(input())
try:
    ten_div(x)
except Exception as e:
    print(e)
else:
    print('Error가 발생하지 않았습니다.')
finally:
    print('try 구문이 모두 끝났습니다.')

## 3.클래스와 객체

In [ ]:
class Calculator:
    def __int__(self, x, y): ## 객체의 생성자 함수
        self.x = x
        self.y = y
    def add(self): # self 를 붙혀줘야함 이게 다르네
        return self.x + self.y
    def sub(self):
        return self.x - self.y
    def mul(self):
        return self.x * self.y
    def div(self):
        try:
            result = self.x / self.y
        except:
            result = '0으로 나눌수 없음'
        return result

In [ ]:
calc = Calculator(10,5)

# 속성
calc.x, calc.y

In [ ]:
# 메소드(method)
calc.add(), calc.sub(), calc.mul(), calc.div()

In [ ]:
class Tmoney:
    def __init__(self, balence):
        self.balence = balence
        self.__fare = 1350
    def pay(self):
        if s_elf.balence < self.__fare:
            return('잔액 부족')
        self.balence -= self.__fare 
        return(f'요금 지불하고 {self.balence:,d}원 남았습니다.')
    def get_fare(self): ## 게터
        return self.__fare ## 세터
    def set_fare(self, fare):
        self.__fare = fare

In [ ]:
card = Tmoney(5000)
for i in range(4):
    print(card.pay())
card.__fare

In [ ]:
card.get_fare(1150)
card.get_fare()

In [ ]:
# numpy as np
# pandas  as pd