# 모듈사용하기

In [2]:
import math # 수학관련 모듈~
print(f'floor(7.2) = {math.floor(7.2)}') # 아래로 내리기 
print(f'ceil(7.2) = {math.ceil(7.2)}') # 위로 올리기

# 모듈 사용하기

floor(7.2) = 7
ceil(7.2) = 8

# 모듈 이름을 약자로 사용

In [4]:
import math as m
m.floor(7.2), m.ceil(7.2)

(7, 8)

In [5]:
# 아래 모듈들은 약자로 사용하는 것이 사실상의 표준(de facto standard)
import numpy as np              ########### 사실상 표준
import pandas as pd             #표준
import seaborn as sns           #표준
import matplotlib.pyplot as ptl #표준

In [6]:
# 모듈내의 함수를 직접 사용
from math import floor, ceil
floor(7.2) , ceil(7.2)

(7, 8)

In [8]:
from sklearn.datasets import load_iris
iris = load_iris()

In [9]:
df = pd.DataFrame(iris.data, columns=iris.feature_names)
df['species'] = iris.target
df.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),species
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0
3,4.6,3.1,1.5,0.2,0
4,5.0,3.6,1.4,0.2,0

### 2. 내장 모듈

In [10]:
import random
random.randint(1,6)  # 시작끝

6

In [11]:
random.random()

0.9087162345659767

In [13]:
random.choice([1,3,5,7,9])

7

In [17]:
# 위아래 같음
import datetime
datetime.datetime.today()
datetime.date.today()

datetime.date(2021, 11, 24)

In [18]:
# 위아래 같음
from datetime import datetime
datetime.today()
from datetime import date
date.today()

datetime.date(2021, 11, 24)

In [19]:
from datetime import timedelta
forty_days = timedelta(days=40)
date.today() + forty_days

datetime.date(2022, 1, 3)