# Unit 10. 리스트와 튜플
### 10.1 리스트

In [ ]:
# 리스트는 대괄호를 써서 만든다 , 각각 저장된 요소를 엘리먼트라고 부른다
a = [23,56,76,34,25]
a
type(a)

In [ ]:
person = ['james',25,175.3,True] # 트루 대문자 조심 틀려서 주석에다씀 

# 위처럼 작성한 걸 딕셔너리라고합니다~
# 위처럼 쓸경우 연산속도가 너무 느려짐 빅데이터이용할때는 다른 방법을 사용함

In [ ]:
#빈 리스트 만들기
a = [] # 만드는 방식 1
a = list() # 만드는 방식 2

# range

In [ ]:
list(
    #range(10)     # 0 ~ 9 까지   지칭함 10까지 아님 주의!
    #range(5,12)   # 5 ~ 11 까지
    #range(1,10,2) # 1에서 부터 10까지2씩 증가하라  1<= <9 2씩
    range(10,0,-1) # 역순으로 하는 증가분이 마이너스로 할수도있음
)

In [26]:
a = list(range(1,11))
b = [range(10)]
a,b

([1, 2, 3, 4, 5, 6, 7, 8, 9, 10], [range(0, 10)])

In [17]:
# a=[i for i in range(10)]
a = [i for i in range(1,11) if i%2==0]

[2, 4, 6, 8, 10]

In [ ]:
# 튜플은 한번 값을 지정을 하면 변하지 않는다 
# 리스트는 변할수있지만 한버넣으면 변하지 않음!!! 바꾸려고 시도하면 에러를 뿜어냄
# 튜플은 소괄호를 안쳐도 가능하다
# 한개짜리 튜플은 ',' 를 찍어줘야한다.

a1 =  38,21,21    
a2 = (38,21,21) 
bool(a1==a2) # true

In [30]:
a3 = (38)
a4 = (38,) 
bool(type(a3)==type(a4)) # false

a3 = (38) 
a4 = (38,) 
bool(a3==a4) # false

False

In [31]:
type(a3),type(a4)

(int, tuple)

In [ ]:
tuple(range(5)) # 레인지 써서 튜플 쉽게 만드는 것도 가능 이거는 리스트랑 똑같네

In [ ]:
list(range(5))

In [ ]:
tuple([1,2,3,4])  # 리스트를 튜플로

In [ ]:
list((1,2,3))   # 튜플을 리스트로 바꿔줄때 소괄호 조심할것

In [ ]:
list('hello')

In [ ]:
tuple('안녕하세요')

-unpacking

In [ ]:
a,b,c = [1,2,3] # 리스트 언팩킹
x,y,z = 4,5,6   # 튜  플 언팩킹

In [ ]:
x = input().split()

In [ ]:
x

In [ ]:
x = input()

In [ ]:
x