### Unit 6. 변수(Variable)

In [4]:
### 6-1. 변수 만들기
# = 할당하다
#R프로그램에서는 = == <-5
X = 10 
X

10

In [5]:
lbs_weight = 174.5  # 변수 snake 표기법
InchHeight = 50 # 변수 camel 표기법

In [8]:
# tuple unPacking 다중 변수 선언 파이썬에서만 가능함 

x,y,z = 10,20,30

In [ ]:
# 데이터가 () 로 묶여 있으면 튜플
# 데이터가 [] 로 묶여 있으면 리스트
# 데이터가 {} 로 묶여 있으면 딕셔너리

In [11]:
x, y = y, x  # 파이썬에서 의 이항연산 하지만 그냥 다른거 하는게 더 좋아보임
x,y

(10, 10)

In [14]:
# 파이썬에서는 빈 변수를 만들어주기위해선 None을 쓴다 
#""" y= None
#print(q)
#print(y) """

NameError: name 'null' is not defined

TypeError: unsupported operand type(s) for +: 'int' and 'NoneType'

In [18]:
x = x + y

TypeError: unsupported operand type(s) for +: 'int' and 'NoneType'

In [22]:
sum = 0;

for i in range(1,101):
    sum = sum+i

print(sum)

5050

In [21]:
# (x += Y) == (X = X+Y)

In [23]:
input('숫자를 입력하세요.')

'50'

In [24]:
input(int())

'50'

In [25]:
number = int(input('정수를 입력하세요'))

In [34]:
print(number)

TypeError: 'int' object is not callable

In [35]:
print(number)

TypeError: 'int' object is not callable

In [33]:
print(number)

TypeError: 'int' object is not callable

In [ ]:
print(number)

In [37]:
number = int(input('정수를입력하세요'))

In [38]:
print(number)

TypeError: 'int' object is not callable

In [39]:
num1, num2 = int(input('정수입력'),input('2번째 정수입력'))

TypeError: 'str' object cannot be interpreted as an integer

In [40]:
s = input('정수 두개 입력')

In [44]:
# split 나눌때 사용함


s.split() # 30 40 나눌때 씀 중요함

['30', '40']

In [45]:
 list(map(int, s.split()))

[30, 40]

In [46]:
map(int, s.split())

In [48]:
num1, num2 = map(int, s.split())
num1, num2

(30, 40)

# 정수 두개 입력 받는 방법

In [49]:
# 정수 두개 입력 받는 방법 
num1 , num2 = map(int, input('정수 두개 입력').split())
num1 , num2

(300, 400)

In [50]:
10 + 20, # 정수형 30
'10' + '20' # 문자열 1020

(30, '1020')

In [51]:
s = input()

In [52]:
s

'10 20'

In [53]:
a,b, = s.split()

In [54]:
a,b

('10', '20')

In [55]:
int(a,b)

TypeError: 'str' object cannot be interpreted as an integer

In [56]:
int (a)

10

In [57]:
int(b)

20

In [58]:
a+b

'1020'

In [59]:
int(a) + int(b)

30

In [60]:
list(map(int,s.split))

TypeError: 'builtin_function_or_method' object is not iterable

In [61]:
# 외워야 함 num1 , num2 = map(int, input('정수 두개 입력').split())

In [63]:
num1, num2 = map(int, input('정수두개를입력')())

TypeError: 'str' object is not callable

In [64]:
num1, num2 = map(int, input('정수두개를입력')())

TypeError: 'str' object is not callable

In [65]:
num3, num4 = map(int, input('정수두개를입력')())

TypeError: 'str' object is not callable

In [66]:
num1, num2 = map(int, input('정수두개를입력').split())

In [67]:
num1,num2

(30, 40)

In [68]:
# map 이라는 함수가 굉장히 좋은 함수  
# 있고 없고의 차이점
# 있으면 num1, num2 = map(int, input('정수두개를입력').split())
# split은 스플릿에 어떤 값을 줬냐에 따라서 나누어줌

In [69]:
num1, num2, num3 = map(int, input('정수두개를입력').split())

In [70]:
num1,num2, num3

(10, 20, 30)

In [71]:
n1, n2 = map(int,input('정수 두개를 입력할꺼고 나누어줌').split)

TypeError: 'builtin_function_or_method' object is not iterable